.popUp{
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    height: 60px;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 5px;
    top: 30px;
    left: 30px;
    color: #000;
}
.showSideBarBtn{
    background: none;
    border: none;

    cursor: pointer;
    transition: 0.1s;
    transform: scale(1);
    z-index: 0;
}
.showSideBarBtn:focus{
    background: none;
    transform: scale(0.9);
}

.searchInput::placeholder{
    color: #000;
}