.wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 9;
    visibility: hidden;
}
.wrapperVisible{
    visibility: visible;
}

.sideBar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    background-color: #fff;
    z-index:10;
    height: 100vh;
    transition: left 1s;
}
.sideBarVisible{
    left: 0;
}