.sideBar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -200px;
    width: 200px;
    background-color: #fff;
    z-index:10;
    height: 100vh;
    transition: 1s;
}
.visible{
    left: 0;
    /*display: block;*/
    transition: 1s;
}